@import "compass/css3";

// MAIN SKIN RULES
// ---------------
body  {
  font-size: $font-size;
  font-family: $font-family, sans-serif;
  font-weight: $font-weight;
  input, textarea, .btn, button {
    font-family: $font-family, sans-serif;
  }
}
blockquote p {
  font-size: $blockquote-font-size;
  font-weight: $blockquote-font-weight;
}
.hairline {
  font-weight: $font-weight-hairline !important;
  strong {
    font-weight: $font-weight-light;
  }
}
.light {
  font-weight: $font-weight-light !important;
}
.regular {
  font-weight: $font-weight-regular !important;
}
.bold {
  font-weight: $font-weight-bold !important;
}
.black {
  font-weight: $font-weight-black !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family, sans-serif;
  font-weight: $heading-font-weight;
  text-transform: $heading-text-transform;
}
.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
  line-height: 1.75em;
  strong {
    font-weight: $font-weight-bold;
  }
}
#masthead .menu, #masthead.menu, #navbar-slide.menu {
  font-family: $navbar-font-family, sans-serif;
  font-weight: $navbar-font-weight;
  font-size: $navbar-font-size;
  .dropdown-menu {
    font-size: $navbar-dropdown-font-size;
  }
}
.menu .navbar-brand {
  font-family: $brand-font-family, sans-serif;
  font-weight: $brand-font-weight;
  font-size: $brand-font-size;
}
.post-head {
  h1 {
    font-size: $blog-post-title-font-size;
    font-weight: $blog-post-title-font-weight;
  }
  h2 {
    font-size: $blog-post-title-font-size * 0.8;
    font-weight: $blog-post-title-font-weight;
  }
  .lead {
    color: $small-color;
  }
}
.post-details {
  color: $small-color;
  a, i {
    color: $small-color;
  }
  a:hover, a:focus {
    color: $link-color;
  }
  span {
    border-color: $background-complementary;
  }
}
.post-title span {
  color: $small-color;
}
.post-body {
  font-size: $blog-post-font-size;
  font-weight: $blog-post-font-weight;
}
.post-extras {
  color: $small-color;
  a {
    color: $small-color;
  }
  a:hover, a:focus {
    color: $link-color;
  }
}
.post-tags a, .post-share ul.social-icons li a {
  border-radius: $border-radius-small;
  box-shadow: 0px 0px 0px 1px $background-complementary;
  color: $text-color;
  &:hover {
    box-shadow: 0px 0px 0px 1px $link-color;
    color: $link-color;
    i {
      color: $link-color !important;
    }
  }
}

// Elements
.btn, button, input[type="submit"], .button {
  border-radius: $border-radius-base;
  font-size: $font-size;
  &.btn-lg {
    border-radius: $border-radius-large;
    font-size: ceil(($font-size * 1.25))
  }
  &.btn-sm {
    border-radius: $border-radius-small;
    font-size: ceil(($font-size * 0.85))
  }
}
.portfolio-title {
  border-radius: $border-radius-small;
}
.pager li > a, .pager li > span {
  border-radius: $border-radius-base;
}
.form-control,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.select-wrap {
  font-size: $font-size;
  border-radius: $border-radius-forms;
}

.widget_tag_cloud ul li a {
  border-radius: $border-radius-small;
}

.tag-list-inline li span {
  border-radius: $border-radius-base;
}
.tag-list-lg li span {
  border-radius: $border-radius-large;
}
.tag-list-sm li span {
  border-radius: $border-radius-small;
}
.skills-list li:before {
  color: $link-color;
}
.map-marker-label {
  font-size: $font-size;
  font-weight: $font-weight;
}

// HEADER SETUP
// ------------

.navbar-brand {
  padding: 0;
  line-height: $navbar-height;
  height: $navbar-height;
}
.logo-navbar {
  .nav {
    > li {
      > a {
        padding-top: ($navbar-height - $element-height) / 2;
        padding-bottom: ($navbar-height - $element-height) / 2;
        line-height: $element-height;
        &:before {
          margin-bottom: - ($navbar-height - $element-height) / 4 - 2;
        }
      }
    }
    > li.active > a, > li > a:hover, > li.current-page-parent > a, > li.current-menu-parent > a, > li.current-page-ancestor > a, , > li.current-menu-ancestor > a {
      &:before {
        opacity: 1;
        margin-bottom: - ($navbar-height - $element-height) / 4;
      }
    }
  }
}

#masthead.navbar {
  min-height: $navbar-height;
}
.navbar-toggle {
  margin-top: ($navbar-height - 16) / 2;
  margin-bottom: ($navbar-height - 16) / 2;
}
#masthead .dropdown-menu {
  min-width: $submenu-width;
}


@media (min-width: 992px) {
  #masthead.navbar-scrolled {
    min-height: $navbar-scrolled;
    .navbar-brand {
      line-height: $navbar-scrolled;
      height: $navbar-scrolled;
    }
  }
  #masthead.navbar-scrolled .logo-navbar .navbar-nav > li > a {
    padding-top: (($navbar-scrolled - $element-height) / 2);
    padding-bottom: (($navbar-scrolled - $element-height) / 2);
  }
  #masthead.navbar-scrolled .logo-navbar .navbar-text, #masthead.navbar-scrolled .logo-navbar .sidebar-widget {
    padding-top: (($navbar-scrolled - $element-height) / 2);
    padding-bottom: (($navbar-scrolled - $element-height) / 2);
  }
  .navbar-scrolled .navbar-toggle {
    margin-top: ($navbar-scrolled - 16) / 2;
    margin-bottom: ($navbar-scrolled - 16) / 2;
  }
  #masthead .logo-navbar {
    .search-close {
      top: 0;
      height: $navbar-height;
      width:  $navbar-height;
    }
    .form-control {
      height: $navbar-height - 1 ; /* so that bottom border shows */
    }
  }
  #masthead.navbar-scrolled .logo-navbar {
    .menu-sidebar .search-close {
      top: 0;
      height: $navbar-scrolled;
      width:  $navbar-scrolled;
    }
    .form-control {
      height: $navbar-scrolled;
    }
  }
  .logo-navbar .navbar-text, .logo-navbar .sidebar-widget {
    line-height: $element-height;
    padding-top: ($navbar-height - $element-height) / 2;
    padding-bottom: ($navbar-height - $element-height) / 2;
  }
  .transparent-header #content {
    margin-top: -$navbar-height;
    display: inline-block;
    vertical-align: top;
    &.layout-boxed {
      display: inline-block;
    }
  }
  .transparent-header.layout-boxed #content {
    display: block;
  }
  .transparent-header.transparent-menu-below #content {
    margin-top: -($navbar-height + 50);
  }
  .transparent-topbar #content {
    margin-top: -($navbar-height + 36);
  }
  .transparent-topbar.transparent-menu-below #content {
    margin-top: -($navbar-height + 86);
  }
}

// Sidemenu
#navbar-slide {
  width: $sidemenu-width;
  .navbar-nav {
    max-height: $sidemenu-nav-max-height;
  }
  .navbar-brand {
    height:  $navbar-height;
  }
}
.slide-on #masthead, .slide-on #content, .slide-on #navbar-slide, .slide-on .top-bar {
  @include translateX(-$sidemenu-width);
}
.rtl.slide-on #masthead, .rtl.slide-on #content, .rtl.slide-on #navbar-slide, .rtl.slide-on .top-bar {
  @include translateX($sidemenu-width);
}

// Sidemenu fixed right
@media (min-width: 992px) {
  .side-menu {
    #content {
      margin-top: -$navbar-height;
    }
  }
  .side-menu-left {
    #content {
      padding-left: $sidemenu-width;
    }
    &.rtl {
      #content {
        padding-left: 0;
        padding-right: $sidemenu-width;
      }
    }
  }
  .side-menu-right {
    #content {
      padding-right: $sidemenu-width;
    }
    &.rtl {
      #content {
        padding-right: 0;
        padding-left: $sidemenu-width;
      }
    }
  }
}
// DEFAULT COLORS
// --------------

// Buttons
.btn, button, .button {
  i {
    color: inherit !important;
  }
}
.btn-default {
  background: $default-bg !important;
  color: $default-text !important;
  &:hover, &:focus, &:active, &:active:focus, &:active:hover {
    background: transparentize($default-bg, .1) !important;
  }
}
.btn-warning {
  background: $warning-bg !important;
  color: $warning-text !important;
  &:hover, &:focus, &:active, &:active:focus, &:active:hover {
    background: transparentize($warning-bg, .1) !important;
  }
}
.btn-danger {
  background: $danger-bg !important;
  color: $danger-text !important;
  &:hover, &:focus, &:active, &:active:focus, &:active:hover {
    background: transparentize($danger-bg, .1) !important;
  }
}
.btn-success {
  background: $success-bg !important;
  color: $success-text !important;
  &:hover, &:focus, &:active, &:active:focus, &:active:hover {
    background: transparentize($success-bg, .1) !important;
  }
}
.btn-info {
  background: $info-bg !important;
  color: $info-text !important;
  &:hover, &:focus, &:active, &:active:focus, &:active:hover {
    background: transparentize($info-bg, .1) !important;
  }
}

// Panels
.panel-default {
  .panel-heading {
    background: $default-bg !important;
    a, a:hover {
      color: $default-text !important;
    }
  }
  .panel-title {
    color: $default-text !important;
  }
}
.panel-warning {
  .panel-heading {
    background: $warning-bg !important;
    a, a:hover {
      color: $warning-text !important;
    }
  }
  .panel-title {
    color: $warning-text !important;
  }
}
.panel-danger {
  .panel-heading {
    background: $danger-bg !important;
    a, a:hover {
      color: $danger-text !important;
    }
  }
  .panel-title {
    color: $danger-text !important;
  }
}
.panel-success {
  .panel-heading {
    background: $success-bg !important;
    a, a:hover {
      color: $success-text !important;
    }
  }
  .panel-title {
    color: $success-text !important;
  }
}
.panel-info {
  .panel-heading {
    background: $info-bg !important;
    a, a:hover {
      color: $info-text !important;
    }
  }
  .panel-title {
    color: $info-text !important;
  }
}

// Alerts
.alert-warning {
  background: $warning-bg;
  color: $warning-text !important;
  a {
    color: $warning-text !important;
    text-decoration: underline;
  }
  .btn, .button {
    background: $warning-bg !important;
    color: $warning-text !important;
    text-decoration: none;
    border: 1px solid $warning-text;
  }
  .close {
    color: $warning-text !important;
  }
}
.alert-danger {
  background: $danger-bg;
  color: $danger-text !important;
  a {
    color: $danger-text !important;
    text-decoration: underline;
  }
  .btn, .button {
    background: $danger-bg !important;
    color: $danger-text !important;
    text-decoration: none;
    border: 1px solid $danger-text;
  }
  .close {
    color: $danger-text !important;
  }
}
.alert-success {
  background: $success-bg;
  color: $success-text !important;
  a {
    color: $success-text !important;
    text-decoration: underline;
  }
  .btn, .button {
    background: $success-bg !important;
    color: $success-text !important;
    text-decoration: none;
    border: 1px solid $success-text;
  }
  .close {
    color: $success-text !important;
  }
}
.alert-info {
  background: $info-bg;
  color: $info-text !important;
  a {
    color: $info-text !important;
    text-decoration: underline;
  }
  .btn, .button {
    background: $info-bg !important;
    color: $info-text !important;
    text-decoration: none;
    border: 1px solid $info-text;
  }
  .close {
    color: $info-text !important;
  }
}


// Progress bars
.progress-bar-default {
  box-shadow: none;
  background: $default-bg;
  span {
    color: $default-text;
  }
}
.progress-bar-default.progress-striped .progress-bar, .progress-striped .progress-bar-default {
  @include gradient-striped($default-bg);
}
.progress-bar-warning {
  background: $warning-bg;
  box-shadow: none;
  span {
    color: $warning-text;
  }
}

.progress-bar-warning.progress-striped .progress-bar, .progress-striped .progress-bar-warning {
  @include gradient-striped($warning-bg);
}
.progress-bar-danger {
  box-shadow: none;
  background: $danger-bg;
  span {
    color: $danger-text;
  }
}

.progress-bar-danger.progress-striped .progress-bar, .progress-striped .progress-bar-danger {
  @include gradient-striped($danger-bg);
}
.progress-bar-success {
  box-shadow: none;
  background: $success-bg;
  span {
    color: $success-text;
  }
}

.progress-bar-success.progress-striped .progress-bar, .progress-striped .progress-bar-success {
  @include gradient-striped($success-bg);
}
.progress-bar-info {
  box-shadow: none;
  background: $info-bg;
  span {
    color: $info-text;
  }
}

.progress-bar-info.progress-striped .progress-bar, .progress-striped .progress-bar-info {
  @include gradient-striped($info-bg);
}

// Hover areas
.figure-overlay {
  background-color: $overlay-bg;
  color: $overlay-text;
  .figure-caption {
    color: $overlay-text;
    h1, h2, h3, h4, h5, i, a {
      color: inherit !important;
    }
    small {
      color: rgba($overlay-text, .8) !important;
    }
    .btn {
      background: $overlay-text !important;
      color: $overlay-bg !important;
    }
    .btn:hover {
    background: rgba($overlay-text, .8) !important;
    }
    i {
      font-size: 21px;
    }
  }
  .fade-none.figcaption-top & {
    background: -moz-linear-gradient(top,  $overlay-bg 60%, rgba($overlay-bg, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$overlay-bg), color-stop(100%,rgba($overlay-bg, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $overlay-bg 60%,rgba($overlay-bg, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $overlay-bg 60%,rgba($overlay-bg, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $overlay-bg 60%,rgba($overlay-bg, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $overlay-bg 60%,rgba($overlay-bg, 0) 100%); /* W3C */
  }
    .fade-none.figcaption-bottom & {
    background: -moz-linear-gradient(top,  rgba($overlay-bg, 0) 60%, $overlay-bg 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($overlay-bg, 0)), color-stop(100%,rgba($overlay-bg, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba($overlay-bg, 0) 60%,rgba($overlay-bg, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba($overlay-bg, 0) 60%,rgba($overlay-bg, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba($overlay-bg, 0) 60%,rgba($overlay-bg, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba($overlay-bg, 0) 60%,rgba($overlay-bg, 1) 100%); /* W3C */
  }
}



// Magnific popup
.mfp-bg {
  background: $magnific-overlay-bg;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  background-color: $magnific-close-bg !important;
  color: $magnific-close-icon;
}
.mfp-counter, .mfp-preloader {
  color: $magnific-close-bg;
}
button.mfp-arrow {
  background: $magnific-close-bg !important;
}
.mfp-title {
  color: invert($magnific-overlay-bg);
}
.mfp-arrow:before {
  color: $magnific-close-icon;
}

// Go to top button
.go-top {
  background: $top-icon-bg !important;
  i {
    color: $top-icon-color;
  }
}

// Slideshow colours
.carousel-control {
  color: $slideshow-color !important;
  text-shadow: 1px 1px 0px $slideshow-shadow;
}
.carousel-caption, .carousel-caption h3 {
  color: $slideshow-color !important;
  text-shadow: 1px 1px 0px $slideshow-shadow;
}
.carousel-indicators li {
  background: $slideshow-shadow;
  border-color: transparent;
}
.carousel-indicators li.active {
  background: $slideshow-color;
  border-color: $slideshow-color;
}

.flex-direction-nav a {
  color: $slideshow-color !important;
  text-shadow: none;
  background: $slideshow-shadow;
}
.flex-control-nav a {
  background: $slideshow-shadow;
  box-shadow: 0px 0px 0px 3px $slideshow-shadow;
}
.flex-control-nav a.flex-active {
  background: $slideshow-color;
}
.flexslider figcaption {
  background: $slideshow-shadow;
  h3, p {
    color: $slideshow-color;
  }
}

.ls-fullwidth .ls-nav-prev, .ls-fullwidth .ls-nav-next {
  &:after {
    color: $slideshow-color !important;
    text-shadow: 1px 1px 0px $slideshow-shadow;
  }
}

// Gravity Forms
.gform_wrapper .gfield_required.gfield_error, .gform_wrapper .gfield_error .gfield_label, .gform_wrapper .gfield_contains_required.gfield_error {
  color: $danger-bg;
}
.gform_wrapper .gfield_error input, .gform_wrapper .gfield_error select, .gform_wrapper .gfield_error textarea {
  border-color: $danger-bg;
}
.validation_error {
  background: $danger-bg;
  color: $danger-text;
  border-radius: $border-radius-forms;
}
.validation_error hr {
  border-top-color: $danger-bg;
}
.validation_error .alert-link {
  color: darken($danger-text, 10%);
}

// Select 2
.select2-container {
  background: $form-background;
  border-radius: $border-radius-forms;
  border: 1px solid $form-borders !important;
}
.select2-container .select2-choice {
  color: $form-color;
}
.select2-container .select2-choice .select2-arrow b:after {
  color: $form-color;
}
.select2-drop-active, .select2-dropdown {
  background: $background-color;
  color: $form-color;
  @include box-shadow(0px 2px 4px rgba($form-borders, .1));
  border: 1px solid $form-borders !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid $form-borders !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $form-active;
  color: $form-color;
}
.select2-results {
  background: $form-background;
}
.select2-search, .select2-results {
  background: $form-background;
}

// BBpress Colors
.panel-bbpress .bbp-template-notice {
  color: $danger-bg;
}

// Contact form 7
[role="alert"] {
  color: $danger-bg;
  &.wpcf7-mail-sent-ok {
    color: $success-bg;
  }
}
.wpcf7-not-valid {
  border-color: $danger-bg !important;
}
.ajax-loader,
.ajax-loader::before {
  border-top-color: $primary-bg !important;
}

// Tables
.table>tbody>tr.warning>td, .table>tbody>tr.warning>th, .table>tbody>tr>td.warning, .table>tbody>tr>th.warning, .table>tfoot>tr.warning>td, .table>tfoot>tr.warning>th, .table>tfoot>tr>td.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>thead>tr.warning>th, .table>thead>tr>td.warning, .table>thead>tr>th.warning {
  color: $warning-text;
  background-color: $warning-bg;
}
.table>tbody>tr.error>td, .table>tbody>tr.error>th, .table>tbody>tr>td.error, .table>tbody>tr>th.error, .table>tfoot>tr.error>td, .table>tfoot>tr.error>th, .table>tfoot>tr>td.error, .table>tfoot>tr>th.error, .table>thead>tr.error>td, .table>thead>tr.error>th, .table>thead>tr>td.error, .table>thead>tr>th.error {
  color: $danger-text;
  background-color: $danger-bg;
}
.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info {
  color: $info-text;
  background-color: $info-bg;
}
.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
  color: $success-text;
  background-color: $success-bg;
}

// Forms
.has-warning .form-control {
  border-color: $warning-bg;
}
.has-error .form-control {
  border-color: $danger-bg;
}
.has-success .form-control {
  border-color: $success-text;
}
.has-info .form-control {
  border-color: $info-bg;
}

// Related Post
.post-grid {
  background-color: $background-color;
  border-color: $background-complementary;
  .post-grid-content-title {
    a {
      color: $heading-color;
    }
  }
  &:hover .post-grid-content-title a {
    color: $link-color;
  }
  blockquote p {
    font-size: $font-size * 1.2;
  }
  .post-grid-content-footer, blockquote footer {
    border-top-color: $background-complementary;
  }
}
.post-grid-overlay {
  background-color: $overlay-bg;
  .post-grid-content-title, .post-grid-content-footer, blockquote p, blockquote footer  {
    color: $overlay-text;
  }
  .post-grid-content {
    background: $overlay-bg;
  }
  blockquote:before {
    color: transparentize($overlay-text, .3);
  }

}

.figure-caption-category a {
  background: rgba($primary-bg, .8);
  color: $primary-text;
  transition: all .2s;
  &:hover {
    background: rgba($primary-bg, .9);
    color: $primary-text;
  }
}

#content  {
  background: $background-color;
  color: $text-color;
}

// Basic typography
h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  small {
    color: $small-color;
  }
}

a{
  color: $link-color;
  &:hover, &:focus {
    color: $link-color-hover;
  }
}
small, .small {
  color: $small-color;
  a {
    color: $small-color;
  }
  a:hover, a:focus {
    color: $link-color;
  }
  i {
    color: $small-color;
  }
}
i {
  color: $icon-color;
}
blockquote {
  p {
    font-family: $blockquote-font-family;
    font-style: $blockquote-font-style;
  }
  small, footer {
    font-family: $font-family;
    color: $small-color;
  }
  cite {
    color: $text-color;
  }
  &:before {
    color: transparentize($text-color, .8);
  }
  &.blockquote-simple img {
    border-color: $slideshow-shadow;
  }
}
::selection {
  background: $background-invert;
  color: $background-color;
  }
::-moz-selection {
  background: $background-invert;
  color: $background-color;
}

// hr
hr {
  border-top-color: $background-complementary;
}

// Pre
pre {
  background: $background-invert;
  color: $background-color;
}

// Buttons
.btn-primary, button, input[type="submit"] {
  background-color: $primary-bg;
  color: $primary-text;
  &:hover, &:active, &:focus, &:active:focus, &:active:hover {
    background-color: darken($primary-bg, 8%);
    color: $primary-text;
  }
}
.btn-link {
  background: none;
  color: $primary-bg;
  text-decoration: none;
  box-shadow: 0px 0px 0px 1px $primary-bg inset;
  &:hover, &:active, &:focus, &:active:focus, &:active:hover {
    text-decoration: none;
    background-color: $primary-bg;
    color: $primary-text;
    box-shadow: 0px 0px 0px 1px $primary-bg inset;
  }
}

.open .dropdown-toggle.btn-primary {
  background-color: $primary-bg;
  color: $primary-text;
}

.btn-group {
  .dropdown-menu {
    background-color: $primary-bg;
    >li > a {
      color: $primary-text;
      box-shadow: 0px -1px 0px darken($primary-bg, 5%);
    }
    >li:first-child > a {
      box-shadow: none;
    }
    > li > a:hover {
      background: lighten($primary-bg, 7%);
    }
  }
}

// Labels
.label-primary {
  background: $primary-bg;
  color: $primary-text;
  a {
    color: $primary-text;
  }
}

// Forms
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.select-wrap,
.form-control {
  background-color: $form-background;
  color: $form-color;
  border-color: $form-borders;
  &:-moz-placeholder {
    color: $form-placeholder-color;
  }
  &::-moz-placeholder {
    color: $form-placeholder-color;
  }
  &:-ms-input-placeholder {
    color: $form-placeholder-color;
  }
  &::-webkit-input-placeholder {
    color: $form-placeholder-color;
  }
}
.form-control:focus {
  border-color: $form-active;
}
input[type="checkbox"], input[type="radio"] {
 @include box-shadow(none);
}
.form-icon-group i {
  color: $form-active;
}
input[type="button"] {
  background: $primary-bg;
  color: $primary-text;
}
.select-wrap {
  color: $form-color;
  background: $form-background;
  box-shadow: 0px 0px 0px 1px $form-borders inset;
}
.select-wrap:after {
  color: $form-color;
}
// Tables
.table>thead {
  border-color: darken($background-complementary, 10%);
}
.table > thead > tr > th {
  background-color: $background-complementary;
  text-transform: uppercase;
  color: $text-color;
  font-family: $heading-font-family;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-color: $background-complementary;
}
.table tfoot th {
  background-color: $background-complementary;
}
.table-hover tbody tr:hover th {
  background: $background-complementary;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th, .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background: $background-complementary;
}

// Navbar
#masthead {
  box-shadow: 0px 1px 0px $nav-borders, 0px -1px 0px $nav-borders;
}
.menu  {
  color: $nav-text;
  background: $nav-background;
}
.menu .navbar-text {
  color: $nav-text;
}
.menu .navbar-brand {
  color: $nav-brand;
  &:hover {
    color: $nav-brand;
  }
}
.menu a {
  color: $nav-link;
  &:before {
    height: $navbar-border-height;
  }
}
.menu .nav > li > a {
  color: $nav-link;
  &:hover, &:focus {
    color: $nav-link-hover;
    background: none;
    &:before {
      opacity: 1;
      width: 100%;
      background-color: $nav-link-hover;
    }
  }
}
// Icons on Menus
.menu a .menu-icon {
  color: inherit ;
}

// Navbar toggle
.navbar-toggle {
  background: none !important;
  .icon-bar {
    background-color: $nav-link;
  }
  &:hover {
    background: none;
  }
}
.menu .nav > .active > a,
.menu .nav > .current-menu-parent > a,
.menu .nav > .current-menu-ancestor >a,
.menu .nav > .current-menu-item > a,
.menu .nav > .current-menu-item > a:focus,
.menu .nav > .current-page-parent >a,
.menu .nav > .active > a:focus,
.menu .nav li.dropdown.open > .dropdown-toggle,
.menu .nav li.dropdown.active > .dropdown-toggle,
.menu .nav li.dropdown.open.active > .dropdown-toggle {
  color: $nav-link-active;
  &:after {
    border-radius: $border-radius-base;
  }
  &:hover {
    color: $nav-link-hover;
  }
}

.menu .nav > .disabled > a {
  opacity: 0.8;
}
.menu .dropdown-menu {
  background-color: $nav-dropdown-background;
  @include box-shadow(0px 2px 4px rgba(#000, .1), 0px 3px 0px $nav-dropdown-border inset);
  > li > a {
    color: $nav-dropdown-link;
    .menu-icon {
      color: inherit;
    }
  }
}
.menu .dropdown-menu > li > a:hover , .menu .dropdown-menu > .active > a, .menu .dropdown-menu > .active > a:hover, .menu .dropdown-menu > .active > a:focus {
  color: $nav-dropdown-link-hover;
  background: transparent;
}
.menu .nav > li > .dropdown-menu:after, .menu .nav > li > .dropdown-menu:before {
  display: none;
}
.menu .dropdown-submenu > a:after {
  border-left-color: $nav-dropdown-link !important;
}
.menu .dropdown-menu .divider  {
  background-color: $nav-dropdown-separators;
}
.nav-highlight > a, .nav-highlight-ghost > a {
  border-radius: $border-radius-base;
  &:after {
    border-radius: $border-radius-base;
  }
}
.menu .nav-highlight {
  > a {
    color: $nav-background !important;
    &:after {
      background: $nav-link;
    }
    &:hover {
      color: $nav-background !important;
      &:after {
        background: $nav-link-hover;
      }
    }
  }
  &.active > a {
    color: $nav-background !important;
    &:after {
      background: $nav-link-active;
    }
    &:hover {
      color: $nav-background !important;
      &:after {
        background: $nav-link-hover;
      }
    }
  }
  .menu-icon {
    color: $nav-background;
  }
}
.menu .nav-highlight-ghost {
  > a {
    color: $nav-link;
    &:after {
      border: 1px solid $nav-link;
    }
    &:hover {
      color: $nav-link-hover;
      &:after {
        border: 1px solid $nav-link-hover;
      }
    }
  }
  &.active > a {
    color: $nav-link-active;
    &:after {
      border: 1px solid $nav-link-active;
    }
    &:hover {
      color: $nav-link-hover;
      &:after {
        border: 1px solid $nav-link-hover;
      }
    }
  }
}
.search-trigger, .search-trigger:hover {
  color: $nav-text;
}
.search-trigger:before {
  border-color: $nav-text;
  color: $nav-text;
}
.search-trigger:after {
  background: $nav-text;
}

.top-search.active {
  .search-trigger:before {
    background: $nav-text;
  }
  .search-trigger:after {
    background: $nav-text;
  }
}
// Menu below logo bar
.header-logo-center-menu-below, .header-logo-left-menu-below, .header-logo-right-menu-below, , .header-logo-left-sidebar-right {
  .container-logo {
    background: $logo-background;
    box-shadow: 0px 1px 0px $nav-borders;
  }
  .navbar-brand {
    color: $logo-brand;
    &:hover {
      color: $logo-brand;
      opacity: 0.9;
    }
  }
  .logo-navbar {
    color: $logo-brand;
    a {
      color: $logo-brand;
    }
    .navbar-toggle .icon-bar {
      background: $logo-brand;
    }
    .logo-sidebar .sidebar-widget, .logo-sidebar .sidebar-widget i {
      color: $logo-brand;
    }
    .search-trigger, .search-trigger:hover {
      color: $logo-brand;
    }
    .search-trigger:before {
      border-color: $logo-brand;
    }
    .search-trigger:after {
      background: $logo-brand;
    }
    .top-search.active {
      .search-trigger:before {
        background: $logo-brand;
      }
      .search-trigger:after {
        background: $logo-brand;
      }
    }
  }
}
.menu .sidebar-widget {
  color: $nav-text;
  .sidebar-header {
    color: $nav-text;
  }
  i {
    color: $nav-text;
  }
}


// Transparent Navbar
@media (min-width: 992px) {
  .transparent-header .sticky-wrapper {
    background: none;
  }
  .rtl.transparent-header #masthead .navbar-brand {
    background-position-x: 100%;
  }
  .transparent-header #masthead:not(.navbar-scrolled) {
    background: none;
    @include box-shadow(0 -1px 0px 0 $nav-transparent-borders inset);
    a {
      color: $nav-transparent-link;
    }
    &.search-active {
      background: $nav-background !important;
    }
    .navbar-text {
      color: $nav-transparent-text;
    }
    .navbar-brand {
      color: $nav-transparent-brand;
      &:hover {
        color: $nav-transparent-brand;
      }
    }

    .nav > li > a {
      color: $nav-transparent-link;
      &:before {
        background: $nav-transparent-link;
      }
      &:hover, &:focus {
        color: $nav-transparent-link-hover;
        &:before {
          background: $nav-transparent-link-hover;
        }
      }
    }
    // Navbar toggle
    .navbar-toggle {
      .icon-bar {
        background-color: $nav-transparent-link;
      }
    }
    .nav > li > a:hover,
    .nav > .active > a,
    .nav > .active > a:hover,
    .nav > .current-menu-parent > a,
    .nav > .current-menu-ancestor >a,
    .nav > .current-menu-item > a,
    .nav > .current-menu-item > a:hover,
    .nav > .current-menu-item > a:focus,
    .nav > .active > a:focus,
    .nav li.dropdown.open > .dropdown-toggle,
    .nav li.dropdown.active > .dropdown-toggle,
    .nav li.dropdown.open.active > .dropdown-toggle {
      color: $nav-transparent-link-hover;
    }
    .dropdown-menu li a {
      color: $nav-dropdown-link;
    }
    .dropdown-menu li > a:hover , .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .dropdown-menu .active > a:focus {
      color: $nav-dropdown-link-hover;
    }
    .search-trigger:before {
      border-color: $nav-transparent-link;
    }
    .search-trigger:after {
      background: $nav-transparent-link;
    }
    .top-search.active {
      .search-trigger:before {
        border-color: $nav-link;
      }
      .search-trigger:after {
        background: $nav-link;
      }
    }
    .nav-highlight {
      > a, &.active > a {
        color: invert($nav-transparent-link) !important;
        &:after {
          background: $nav-transparent-link !important;
        }
        &:hover {
          color: invert($nav-transparent-link-hover) !important;
          &:after {
            background: $nav-transparent-link-hover !important;
          }
        }
        .menu-icon {
          color: $nav-transparent-link !important;
        }
      }
    }
    .nav-highlight-ghost {
      > a, &.active > a {
        color: $nav-transparent-link;
        &:after {
          border: 1px solid $nav-transparent-link;
        }
        &:hover {
          color: $nav-transparent-link-hover !important;
          &:after {
            border-color: $nav-transparent-link-hover !important;
          }
        }
      }
    }
    &.header-logo-center-menu-below .container-logo, &.header-logo-left-menu-below .container-logo, &.header-logo-right-menu-below .container-logo, &.header-logo-left-sidebar-right .container-logo {
      background: none;
      @include box-shadow(0 -1px 0px 0 $nav-transparent-borders inset);
    }
    .navbar-brand {
      color: $nav-transparent-brand;
    }
    .logo-navbar {
      color: $nav-transparent-text;
      .logo-sidebar .sidebar-widget, .logo-sidebar .sidebar-widget i {
        color: $nav-transparent-link;
      }
      .search-trigger, .search-trigger:hover {
        color: $nav-transparent-link;
      }
      .search-trigger:before {
        border-color: $nav-transparent-link;
      }
      .search-trigger:after {
        background: $nav-transparent-link;
      }
      .top-search.active {
        .search-trigger:before {
          background: $nav-transparent-link;
        }
        .search-trigger:after {
          background: $nav-transparent-link;
        }
      }
    }
  }

  .transparent-header .top-bar  {
    @include box-shadow(0 -1px 0px 0 $nav-transparent-borders inset);
    background: none;
    color: $nav-transparent-text;
    a {
      color: $nav-transparent-link;
      &:hover {
        color: $nav-transparent-link;
      }
    }
    i, li i, li a i {
      color: $nav-transparent-link;
    }
    .sidebar-widget {
      border-color: $top-bar-borders;
    }
    .widget_wpml_language_selector li:before {
      background: $top-bar-borders;
    }
    .widget_recent_entries, .widget_recent_comments, .widget_archive, .widget_categories, .widget_meta, .widget_pages, .widget_twitter, .widget_nav_menu, .widget_rss {
      li {
        border-color: $top-bar-borders;
      }

    }
    .search-trigger:before {
      border-color: $nav-transparent-text;
      color: $nav-transparent-text;
    }
    .search-trigger:after {
      background: $nav-transparent-text;
    }
    .top-search.active {
      .search-trigger:before {
        background: $top-bar-link;
      }
      .search-trigger:after {
        background: $top-bar-link;
      }
    }
  }
}

// Mega menus
.menu-item-object-oxy_mega_menu {
  color: $nav-dropdown-text;
}
.menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a {
  color: $nav-dropdown-link;
}
.menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover {
  color: $nav-dropdown-link-hover;
}
.menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li.current-menu-item > a {
  color: $nav-dropdown-link-hover;
}
.menu-item-object-oxy_mega_menu .dropdown-menu > li > p {
  border-bottom-color: $nav-dropdown-separators;
}
.menu-item-object-oxy_mega_menu .dropdown-menu > li:before {
  background: $nav-dropdown-separators;
}

// Side menu
#navbar-slide {
  .form-control {
    color: $nav-text;
  }
}

@media (max-width: 991px) {
  .menu .navbar-collapse {
    box-shadow: inset 0 1px 0 $nav-dropdown-separators;
  }
  .menu .nav > li > a {
    border-radius: 0;
  }
  .menu .open .dropdown-menu {
    background: $nav-dropdown-background;
    border-radius: 0;
    box-shadow: none;
    > li > a {
      border-radius: 0;
    }
    > li > a:hover, > li > a:focus, > li.active > a {
      color: $nav-dropdown-link-hover;
    }
  }

  .dropdown-submenu>a:after {
    border-left-color: transparent !important;
    border-top-color: $nav-dropdown-link !important;
  }
  .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover {
    color: $nav-dropdown-link-hover;
  }
  .menu-item-object-oxy_mega_menu .dropdown-menu > li:before {
    display: none;
  }
  .nav-highlight > a {
    color: $nav-link !important;
    &:after {
      background: transparent;
    }
    &:hover {
      color: $nav-link !important;
      &:after {
        background: transparent;
      }
    }
  }
  .transparent-header .navbar-collapse {
    background: rgba($nav-background, .95) !important;
  }
  .menu-sidebar {
    border-top: 1px solid rgba(255, 255, 255, .075);
  }
}

// Pagination
.pagination > li > a, .pagination > li > span {
  background: $primary-bg;
  color: $primary-text;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-bottom-left-radius: $border-radius-base;
  border-top-left-radius: $border-radius-base;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  background: $primary-bg;
  color: $primary-text;
  border-bottom-right-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  background: darken($primary-bg, 8%);
  color: $primary-text;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  background: darken($primary-bg, 8%);
  i {
    color: $primary-text;
  }
}
.pagination >li:first-child, .pagination >li:last-child {
  i {
    color: $primary-text;
  }
}
.pagination > .disabled > span, .pagination >.disabled span:hover, .pagination > .disabled > a, .pagination >.disabled a:hover {
  background: $primary-bg;
  color: $primary-text;
  i {
    color: $primary-text;
  }
}

// Boxed elements
.box-inner {
  background-color: $background-complementary;
}

// Pager
.pager > li > a {
  background: $primary-bg;
  color: $primary-text;
  i {
    color: $primary-text;
  }
}
.pager li > a:hover, .pager li > a:focus {
  background-color: darken($primary-bg, 8%);
  color: $primary-text;
}

// Tooltips
.tooltip-inner {
  background-color: $background-invert;
  color: $background-color;
}
.tooltip {
  &.in {
    opacity: 1;
  }
  &.top .tooltip-arrow {
    border-top-color: $background-invert;
  }
  &.right .tooltip-arrow {
    border-right-color: $background-invert;
  }
  &.left .tooltip-arrow {
    border-left-color: $background-invert;
  }
  &.bottom .tooltip-arrow {
    border-bottom-color: $background-invert;
  }
}

// Jumbotron
.jumbotron {
  background: $background-complementary;
}

// Progress bar primary
.progress {
  border-radius: $border-radius-base;
  .progress-bar {
    border-radius: $border-radius-base;
  }
}
.progress-bar-primary {
  background: $primary-bg;
  box-shadow: none;
  span {
    color: $primary-text;
  }
}
.progress-bar-primary.progress-striped .progress-bar, .progress-striped .progress-bar-primary {
  @include gradient-striped($primary-bg);
  background-size: 40px 40px;
}

// Badges
.badge {
  background: $background-invert;
  color: $background-color;
}

// Tabs & Pills
/* - Tabs - */
.nav-tabs {
  border-color: $background-complementary;
  >li > a {
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    &:hover {
      border-color: $background-complementary $background-complementary $background-color;
    }
  }
  > li > a:hover {
    background: none;
  }
  > li.active {
    > a, > a:hover, a:focus {
      border-top-color: $background-complementary;
      border-left-color: $background-complementary;
      border-right-color: $background-complementary;
    }
  }
}
.tab-content {
  background: $background-color;
  border-left: 1px solid $background-complementary;
  border-right: 1px solid $background-complementary;
  border-bottom: 1px solid $background-complementary;
}
.tabs-below {
  .nav-tabs {
    border-top: 1px solid $background-complementary;
  }
  .nav-tabs >li > a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }
  .nav-tabs >li.active > a, .nav-tabs >li > a:hover {
    border-bottom-color: $background-complementary;
    border-top: 0;
  }
  .tab-content {
    border-top: 1px solid $background-complementary;
  }
}

.nav-pills > li > a .badge {
  background: $background-invert;
  color: $background-color;
}

.nav-pills > li.active > a, .nav-pills > li.is-active > a, .nav-pills > li.active > a:hover, .nav-pills > li.is-active > a:hover, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
  background: $background-invert;
  color: $background-color;
  .badge {
    background: $background-color;
    color: $background-invert;
  }
  &:hover {
    color: $background-color;
  }
}

// Panels
.panel, .well {
  background: $background-complementary;
}
.panel-primary {
  border-color: $background-complementary;
}
.panel-primary .panel-heading {
  background: $primary-bg;
  a, .panel-title{
    color: $primary-text;
    text-decoration: none;
  }
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: darken($primary-bg, 15%);
  background: transparent;
}
.panel-footer {
  background: lighten($primary-bg, 5%);
  border-color: darken($primary-bg, 5%);
}
// - Panel tables
.panel .table {
  box-shadow: 0px 0px 0px 1px $background-complementary inset;
  th {
    background: $background-complementary;
    color: $heading-color;
  }
}

// Portfolio
.portfolio-title {
  background: $primary-bg;
  color: $primary-text;
}
.portfolio-nav {
  svg {
    stroke: $text-color;
  }
}

// Misc elements
.social-icons li a {
  background-color: $background-invert;
  i {
    color: $background-color;
  }
  &:not([data-iconcolor]):hover {
    background-color: rgba($background-invert, .8);
  }
}
.social-simple li a i {
  color: $text-color;
}
.post-share .social-simple li a i {
  color: $small-color;
}
.social-simple li a:not([data-iconcolor]):hover i {
  color: $link-color;
}
.divider-border-inner {
  background-color: $link-color;
}

#infscr-loading {
  background: $background-invert;
  color: $background-color;
}
.scroll-to {
  i {
    color: $link-color;
  }
  &:hover {
    i {
      color: $link-color-hover;
    }
  }
}
.map-marker-label {
  background: $background-color;
  color: $text-color;
}

.features-list-icon {
  background: $background-complementary;
}


// Jquery Date picker
.ui-datepicker {
  background: $background-color;
  border: 1px solid $form-borders;
  border-radius: $border-radius-base;
}
.ui-datepicker-header {
  background-color: $form-background;
  color: $form-color;
}
.ui-datepicker-today {
 background-color: $link-color;
 a, a:hover {
    color: $background-color;
 }

}
.ui-datepicker-calendar thead {
  border-bottom: 1px solid $form-background;
}
.date-wrapper:after {
  color: $form-color;
}

// Pace styles
.pace-overlay {
  background: $loader-bg;
}
.pace-dot .pace-progress-inner {
  background: $loader-color;
}
.pace-minimal .pace .pace-progress {
  background: $loader-color;
}
.pace-counter .pace .pace-progress:after {
  color: $loader-color;
}
.pace-logo .pace .pace-progress {
  background: $loader-bg;
}
.pace-logo .pace:before {
  background: $loader-color;
}

// Pricing Tables
.pricing-head, .pricing-body {
  background: $background-color;
}
.pricing-price {
  background: $primary-bg;
  color: $primary-text;
}
.pricing-list li {
  border-color: $background-complementary;
}

// Pricing list
.pricing-item-list {
  li {
    h3 {
      border-bottom-color: $background-complementary;
    }
    strong {
      background-color: $primary-bg;
      color: $primary-text;
    }
    &.featured:before {
      border-color: $primary-bg;
    }
  }
}

// Column borders
.col-border-top {
  border-top-color: $background-complementary;
}
.col-border-right {
  border-right-color: $background-complementary;
}
.col-border-bottom {
  border-bottom-color: $background-complementary;
}
.col-border-left {
  border-left-color: $background-complementary;
}

// Tag list
.tag-list span {
  background: $primary-bg;
  color: $primary-text;
}

// Bullet navigation
.bullet-nav {
  li a {
    background-color: transparentize($background-color, .1);
    box-shadow: 0px 0px 0px 3px transparentize($background-invert, .5);
  }
  li a.active {
    background-color: transparentize($background-invert, .1);
    box-shadow: 0px 0px 0px 4px transparentize($background-color, .6);
  }
}

// Audio player
.mejs-audio {
  background-color: $primary-bg;
  color: $primary-text;
}
.mejs-container .mejs-controls .mejs-time span {
  color: $primary-text;
}
.mejs-controls .mejs-button button:hover {
  background-color: transparent;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: $primary-text;
}
.mejs-controls .mejs-time-rail .mejs-time-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: $primary-text;
}

// Animated headlines
.cd-headline.type .cd-words-wrapper.selected {
  background-color: $heading-color;
}
.text-light.cd-headline.type .cd-words-wrapper.selected {
  background-color: $heading-color-alt;
}
.cd-headline.type .cd-words-wrapper.selected b {
  color: invert($heading-color);
}
.text-light.cd-headline.type .cd-words-wrapper.selected b  {
  color: invert($heading-color-alt);
}
.cd-headline.loading-bar .cd-words-wrapper::after {
  background: $heading-color;
}
.text-light.cd-headline.loading-bar .cd-words-wrapper::after {
  background: $heading-color-alt;
}
.cd-headline.clip .cd-words-wrapper::after {
  background-color: $heading-color;
}
.text-light.cd-headline.clip .cd-words-wrapper::after {
  background-color: $heading-color-alt;
}
.cd-headline.type .cd-words-wrapper::after {
  background-color: $heading-color;
}
.text-light.cd-headline.type .cd-words-wrapper::after {
  background-color: $heading-color-alt;
}

// Timeline
#cd-timeline::before {
  background: $background-complementary;
}
.cd-timeline-content {
  background-color: $background-color;
}
.cd-timeline-content::before {
  border-right-color: $background-color;
}
.cd-timeline-img {
  background-color: $primary-bg;
  i {
    color: $primary-text;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content::before {
    border-color: transparent;
    border-left-color: $background-color;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    border-color: transparent;
    border-right-color: $background-color;
  }
}
// Blog
.post:after {
  background: $background-complementary;
}
.post-more-link i {
  color: $link-color;
}
.media-inner:after {
  background: $background-complementary;
}
.post .author-info {
  border-color: $background-complementary;
}
.post-list > div {
  border-color: $background-complementary;
}

.breadcrumb-blog {
  a, .active {
    color: $text-color;
  }
  a:hover {
    opacity: 0.8;
  }
  >li+li:before {
    color: $text-color;
  }
}
.container-author {
  background: $background-complementary;
}
// Gravity forms
.gform_wrapper .gsection {
  border-color: $background-complementary;
}
.gf_progressbar {
  background: $form-background;
  border-radius: $border-radius-forms;
}
.gf_progressbar_percentage {
  background: $primary-bg;
  color: $primary-text;
}
.gf_page_steps {
  border-color: $background-complementary;
}

// Widgets
.sidebar-widget .post-icon {
  background: $background-complementary;
}
.widget_recent_entries, .widget_recent_comments, .widget_archive, .widget_categories, .widget_meta, .widget_pages, .widget_twitter, .widget_nav_menu, .widget_rss {
  li, .sub-menu {
    border-color: $background-complementary;
  }
  small {
    color: $text-color;
  }
}
.widget_tag_cloud ul a {
  box-shadow: 0px 0px 0px 1px $background-complementary;
  color: $text-color;
  &:hover {
    box-shadow: 0px 0px 0px 1px $link-color;
    color: $link-color;
  }
}
.widget_calendar {
  tbody a {
    background: $background-invert;
    color: $background-color;
    &:hover {
      background: darken($background-invert, 7%);
      color: $background-color;
    }
  }
  tfoot {
    background: $background-complementary;
  }
}
.widget_nav_menu .sub-menu li:before {
  color: $background-complementary;
}
.widget_oxy_twitter li:before {
  color: $background-invert;
}

.top-search {
  form {
    background-color: $nav-background;
  }
  input {
    background: none;
    color: $nav-text;
    &:focus {
      box-shadow: none;
    }
    &:-moz-placeholder {
      color: $nav-text;
    }
    &::-moz-placeholder {
      color: $nav-text;
    }
    &:-ms-input-placeholder {
      color: $nav-text;
    }
    &::-webkit-input-placeholder {
      color: $nav-text;
    }
  }
}
.top-bar .top-search {
  form {
    background-color: $top-bar-background;
  }
  input {
    background: none;
    color: $top-bar-text;
    &:focus {
      box-shadow: none;
    }
    &:-moz-placeholder {
      color: $top-bar-text;
    }
    &::-moz-placeholder {
      color: $top-bar-text;
    }
    &:-ms-input-placeholder {
      color: $top-bar-text;
    }
    &::-webkit-input-placeholder {
      color: $top-bar-text;
    }
  }
}
.logo-sidebar .top-search {
  form {
    background-color: $logo-background;
  }
  input {
    background: none;
    color: $logo-brand;
    &:focus {
      box-shadow: none;
    }
    &:-moz-placeholder {
      color: $logo-brand;
    }
    &::-moz-placeholder {
      color: $logo-brand;
    }
    &:-ms-input-placeholder {
      color: $logo-brand;
    }
    &::-webkit-input-placeholder {
      color: $logo-brand;
    }
  }
}
.top-bar  {
  background: $top-bar-background;
  color: $top-bar-text;
  a {
    color: $top-bar-link;
    &:hover {
      color: $top-bar-link-hover;
    }
  }
  i, li i, li a i {
    color: $top-bar-link;
  }
  .sidebar-widget {
    border-color: $top-bar-borders;
  }
  .widget_wpml_language_selector li:before {
    background: $top-bar-borders;
  }
  .widget_recent_entries, .widget_recent_comments, .widget_archive, .widget_categories, .widget_meta, .widget_pages, .widget_twitter, .widget_nav_menu, .widget_rss {
    li {
      border-color: $top-bar-borders;
    }
  }
  .search-trigger:before {
    border-color: $top-bar-text;
    color: $top-bar-text;
  }
  .search-trigger:after {
    background: $top-bar-text;
  }
}


.section-upper-footer {
  border-top: 1px solid $background-complementary;
}
// Footer
#footer {
  background-color: $footer-background;
  color: $footer-text;
  h1, h2, h3, h4, h5, h6, strong {
    color: $footer-link;
  }
  a {
    color: $footer-link;
    &:hover {
      color: $footer-link-hover;
    }
  }
  i {
    color: inherit;
  }
  small {
    color: $footer-text;
  }
  .widget_recent_entries, .widget_recent_comments, .widget_archive, .widget_categories, .widget_meta, .widget_pages, .widget_twitter, .widget_nav_menu, .widget_rss {
    small {
      color: $footer-text;
    }
    li, .sub-menu {
      border-color: $footer-borders;
    }
  }
  .widget_tag_cloud ul a {
    box-shadow: 0px 0px 0px 1px $footer-text;
    color: $footer-text;
    &:hover {
      box-shadow: 0px 0px 0px 1px $footer-link;
      color: $footer-link;
    }
  }
  .widget_calendar {
    tbody a {
      background: $footer-link;
      color: $footer-background;
      &:hover {
        background: darken($footer-link, 7%);
        color: $footer-background;
      }
    }
    tfoot {
      background: $footer-borders;
    }
  }
  .widget_nav_menu .sub-menu li:before {
    color: $footer-borders;
  }
  .widget_oxy_twitter li:before {
    color: $footer-link;
  }
  .star-rating {
    color: $footer-text;
  }
}

// Footer
#footer .subfooter {
  background-color: $sub-footer-background;
  color: $sub-footer-text;
  h1, h2, h3, h4, h5, h6, strong {
    color: $sub-footer-link;
  }
  a {
    color: $sub-footer-link;
    &:hover {
      color: $sub-footer-link-hover;
    }
  }
  i {
    color: inherit;
  }
  small {
    color: $sub-footer-text;
  }
  .widget_recent_entries, .widget_recent_comments, .widget_archive, .widget_categories, .widget_meta, .widget_pages, .widget_twitter, .widget_nav_menu, .widget_rss {
    small {
      color: $sub-footer-text;
    }
    li, .sub-menu {
      border-color: $sub-footer-borders;
    }
  }
  .widget_tag_cloud ul a {
    box-shadow: 0px 0px 0px 1px $sub-footer-text;
    color: $sub-footer-text;
    &:hover {
      box-shadow: 0px 0px 0px 1px $sub-footer-link;
      color: $sub-footer-link;
    }
  }
  .widget_calendar {
    tbody a {
      background: $sub-footer-link;
      color: $sub-footer-background;
      &:hover {
        background: darken($sub-footer-link, 7%);
        color: $sub-footer-background;
      }
    }
    tfoot {
      background: $sub-footer-borders;
    }
  }
  .widget_nav_menu .sub-menu li:before {
    color: $sub-footer-borders;
  }
  .widget_oxy_twitter li:before {
    color: $sub-footer-link;
  }
  .star-rating {
    color: $sub-footer-text;
  }
}


// WOO commerce

// - Products
.product-title a {
  color: $heading-color;
  &:hover {
    color: $link-color;
  }
}
.add-to-cart-button {
  i {
    color: $text-color;
  }
  &.loading:before {
    color: $text-color;
  }
  &.added {
    i {
      color: $link-color;
    }
    &:before {
      color: $link-color;
    }
  }
}
.product-image:hover:after {

}
.product-image-overlay {
  color: $overlay-text;
  background-color: $overlay-bg;
  h4, .star-rating {
    color: $overlay-text;
  }
}
.product-categories {
  text-transform: $heading-text-transform;
}
// - buttons
.button {
  background: $primary-bg;
  color: $primary-text;
  &:hover {
    background: rgba($primary-bg, .9);
    color: $primary-text;
  }
}

// - Breadcrumbs
.section-commerce .breadcrumb {
  background: none;
  color: $text-color;
  a {
    color: $link-color;
  }
  >li+li:before {
    color: $link-color;
  }
}

// - On sale
.onsale {
  background: $primary-bg;
  color: $primary-text;
}

// Price
.price {
  color: $heading-color;
}
// - Pagination
.page-numbers {
  a, span {
    color: $primary-text;
  }
  li {
    background: $primary-bg;
  }
  .current, li a:hover {
    background: darken($primary-bg, 5%);
    color: darken($primary-text, 5%);
  }
}

// Reviews
#reviews {
  input[type="submit"] {
    background: $primary-bg;
    color: $primary-text;
  }
}

// Product category
.product-category h3 {
    background: $overlay-bg;
    color: $overlay-text;
  small {
    color: $overlay-text;
  }
}

// - Product description
.description p {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
  line-height: 1.75em;
}

// - Single Product
.product-nav {
  a i {
    box-shadow: 0px 0px 0px 1px $form-borders;
    background: $form-background;
    color: $form-color;
  }
  a:hover i {
    box-shadow: 0px 0px 0px 1px $link-color;
    color: $link-color;
  }
}
.quantity input {
  box-shadow: 0px 0px 0px 1px $form-borders inset;
  background: $form-background;
  color: $form-color;
  &:hover {
    box-shadow: 0px 0px 0px 1px $link-color inset;
    color: $link-color;
  }
  &[type="number"] {
    box-shadow: 0px 1px 0px $form-borders inset, 0px -1px 0px $form-borders inset;
  }
}
.entry-summary ul.social-icons li a {
  background: transparent;
  border: 1px solid $form-borders;
  i {
    color: $form-color;
  }
  &:hover {
    background: transparent;
    border: 1px solid $link-color;
    i {
      color: $link-color;
    }
  }
}
.product-images figcaption {
  box-shadow: none;
  background: $overlay-bg;
  h4 a {
    color: $overlay-text;
  }
}

.order_details {
  background: $background-complementary;
  li {
    border-color: lighten($background-complementary, 10%);
  }
}
// - Mini cart
.product-mini {
  color: $nav-dropdown-text;
  a {
    color: $nav-link;
  }
}
.mini-cart-count {
  background-color: $primary-bg;
  color: $primary-text;
}
.mini-cart-overview ul li {
  border-bottom-color: $nav-dropdown-separators;
}
.product-details-heading, .mini-cart-overview .product-details-heading a  {
  color: $nav-link;
}
.mini-cart-overview .buttons a:first-child {
  box-shadow: 0px 0px 0px 1px $nav-dropdown-text inset;
  color: $nav-dropdown-text;
}
.mini-cart-overview .buttons a:last-child {
  background: $primary-bg;
  color: $primary-text;
}

.woocommerce-invalid input,
input.woocommerce-invalid,
.woocommerce-invalid textarea,
textarea.woocommerce-invalid {
  border-color: $danger-bg;
}

.shipping_calculator {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

.chosen-single, .chosen-drop  {
  background: $form-background !important;
  border-radius: $border-radius-base !important;
  border-color: $form-borders !important;
  color: $form-color !important;
}
.product-remove i {
  color: $link-color;
}
// - Woocommerce widgets
.widget_product_tag_cloud {
  a {
    border-radius: $border-radius-small;
    box-shadow: 0px 0px 0px 1px $background-complementary;
    color: $text-color;
    &:hover {
      box-shadow: 0px 0px 0px 1px $link-color;
      color: $link-color;
    }
  }
}
.product_list_widget li, .widget_product_categories li, .widget_product_categories .children, .widget_layered_nav li{
  border-color: $background-complementary;
  a {
    font-family: $heading-font-family;
    color: $heading-color;
    font-weight: $heading-font-weight;
    text-transform: $heading-text-transform;
  }
  a:hover  {
    color: $link-color;
  }
}
.star-rating {
  color: $link-color;
}
.widget_price_filter .ui-slider {
  .ui-slider-range {
    background: $background-complementary;
  }
  .ui-slider-handle {
    background: $background-invert;
  }
}
.widget_product_search form:after {
  color: $background-color;
}

// - Woocommerce footer widgets
#footer {
  .widget_product_tag_cloud {
    a {
      box-shadow: 0px 0px 0px 1px $footer-text;
      color: $footer-text;
      &:hover {
        box-shadow: 0px 0px 0px 1px $footer-link;
        color: $footer-link;
      }
    }
  }
  .product_list_widget li, .widget_product_categories li, .widget_product_categories .children, .widget_layered_nav li{
    border-color: $footer-borders;
    a {
      color: $footer-link;
    }
    a:hover  {
      color: $footer-link-hover;
    }
  }
  .star-rating {
    color: $footer-text;
  }
  .widget_price_filter .ui-slider {
    .ui-slider-range {
      background: $footer-borders;
    }
    .ui-slider-handle {
      background: $footer-text;
    }
  }
  .widget_product_search form:after {
    color: $footer-background;
  }
}


// BBpress
.bbp-forums-list li {
  border-left-color: $primary-bg;
}
.bbp-topic-freshness-author:after {
  background: $primary-bg;
}
.bbp-topic-permalink i {
  color: $link-color;
}
.panel-bbpress {
  background: $background-color;
}
.panel-bbpress .panel-heading {
  border-color: $primary-bg;
}
.panel-bbpress .panel-body {
  border-color: $background-complementary;
}
.panel-bbpress .panel-warning {
  color: $link-color;
  border-color: $background-complementary;
}
.panel-bbpress .bbp-template-notice {
  border-color: $background-complementary;
}
.panel-bbpress .panel-footer {
  background: $background-complementary;
  border-color: $background-complementary;
}
.label-bbpress {
  background: transparent;
  color: $link-color;
}
.bbp-reply-content {
  border-color: $background-complementary;
  .media-heading {
    background: lighten($background-complementary, 5%);
    border-color: darken($background-complementary, 5%);
  }
}
.bbp_author_details {
  img {
    background: $background-color;
    box-shadow: 0px 0px 0px 4px $background-complementary;
  }
  &:after {
    background: $background-complementary;
  }
}
.bbp_author_details:hover {
  img {
    box-shadow: 0px 0px 0px 4px $link-color;
  }
}
.bbpress-header .breadcrumb {
  a, .active {
    color: $text-color;
  }
  a:hover {
    color: rgba($text-color, .8);
  }
}
.bbp-topic-tags a {
  background: $primary-bg;
  color: $primary-text;
  &:hover {
    background: rgba($primary-bg, .9);
  }
}
.bbp-logged-in {
  background: $background-complementary;
  .button, .button:hover {
    color: $primary-text;
  }
}
.post-count {
  background: $primary-bg;
  color: $primary-text;
}

// Sermons
#wpfc_sermon_wrap {
  background-color: $background-color;
  border: 1px solid $background-complementary;
  .sermon-title {
    border-bottom: 1px solid $background-complementary;
  }
}

// Text light
.text-light {
  color: $text-color-alt;
  i {
    color: $icon-color-alt;
  }
}
h1.text-light,
h2.text-light,
h3.text-light,
h4.text-light,
h5.text-light,
h6.text-light,
.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6 {
  color: $heading-color-alt;
}
.text-light a, a.text-light {
    color: $link-color-alt;
    &:hover, &:focus {
      color: $link-color-hover-alt;
    }
  }

.text-light blockquote, blockquote.text-light {
  color: $text-color-alt;
  small, footer, cite  {
    color: $heading-color-alt;
  }
  &:before {
    color: transparentize($text-color-alt, .3);
  }
}
.text-light.btn-link, .text-light .btn-link {
  box-shadow: 0px 0px 0px 1px $text-color-alt inset !important;
  i {
    color: $text-color-alt;
  }
}
.text-light.btn-link:hover, .text-light .btn-link:hover, .text-light.btn-link:focus, .text-light .btn-link:focus {
  box-shadow: 0px 0px 0px 1px transparentize($text-color-alt, .1) inset !important;
  background: none;
}
.text-light.btn-primary, .text-light .btn-primary {
  background: $link-color-alt !important;
  color: $text-color !important;
  &:hover, &:focus {
    background: transparentize($link-color-alt, .1) !important;
  }
}
.text-light small, .text-light .small {
  color: $small-color-alt;
}
.text-light.btn-primary:hover, .text-light .btn-primary:hover {
  opacity: 1;
}
.text-light .breadcrumb-blog {
  a, .active {
    color: $text-color-alt;
  }
  >li+li:before {
    color: $text-color-alt;
  }
}
.text-light.social-icons li a {
  background: $link-color-alt !important;
  i {
    color: $text-color !important;
  }
}
.text-light.social-simple li a {
  background: none !important;
  i {
    color: $text-color-alt !important;
  }
}
.text-light .portfolio-nav {
  svg {
    stroke: $text-color-alt;
  }
}
.text-light.scroll-to, .text-light .scroll-to {
  i {
    color: $text-color-alt;
  }
  &:hover {
    opacity: 0.9;
  }
}
.text-light #wpfc_sermon_wrap {
  border: 1px solid rgba($text-color-alt, .3);
  .sermon-title {
    border-bottom: 1px solid rgba($text-color-alt, .3);
  }
}
/* This is a compiled file, you should be editing the file in the templates directory */
