/*
Theme Name:     Lambda Child Theme
Description:    Child theme for the Lambda WP Theme
Author:         Oxygenna
Author URI:     http://themeforest.net/user/oxygenna
Template:       lambda
Version:        1.0
*/

@font-face {
    font-family: 'Frutiger';
    src: url('fonts/FrutigerLTStd-Bold.eot');
    src: url('fonts/FrutigerLTStd-Bold.woff2') format('woff2'),
    url('fonts/FrutigerLTStd-Bold.woff') format('woff'),
    url('fonts/FrutigerLTStd-Bold.ttf') format('truetype'),
    url('fonts/FrutigerLTStd-Bold.svg#FrutigerLTStd-Bold') format('svg'),
    url('fonts/FrutigerLTStd-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger';
    src: url('fonts/FrutigerLTStd-Italic.eot');
    src: url('fonts/FrutigerLTStd-Italic.woff2') format('woff2'),
    url('fonts/FrutigerLTStd-Italic.woff') format('woff'),
    url('fonts/FrutigerLTStd-Italic.ttf') format('truetype'),
    url('fonts/FrutigerLTStd-Italic.svg#FrutigerLTStd-Italic') format('svg'),
    url('fonts/FrutigerLTStd-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger';
    src: url('fonts/FrutigerLTStd-Light.eot');
    src: url('fonts/FrutigerLTStd-Light.woff2') format('woff2'),
    url('fonts/FrutigerLTStd-Light.woff') format('woff'),
    url('fonts/FrutigerLTStd-Light.ttf') format('truetype'),
    url('fonts/FrutigerLTStd-Light.svg#FrutigerLTStd-Light') format('svg'),
    url('fonts/FrutigerLTStd-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger';
    src: url('fonts/FrutigerLTStd-Roman.eot');
    src: url('fonts/FrutigerLTStd-Roman.woff2') format('woff2'),
    url('fonts/FrutigerLTStd-Roman.woff') format('woff'),
    url('fonts/FrutigerLTStd-Roman.ttf') format('truetype'),
    url('fonts/FrutigerLTStd-Roman.svg#FrutigerLTStd-Roman') format('svg'),
    url('fonts/FrutigerLTStd-Roman.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, #masthead .menu, #masthead.menu, #navbar-slide.menu, body input, body textarea, body .btn, body button {
    font-family: 'Frutiger', "Helvetica Neue", Helvetica, Arial, sans-serif  !important;
}

body {
    /*text-align: justify;*/
}

table {
    width: 100%;
}

table th, table td {
    padding: 5px;
}

body.rtl {
    font-family: 'El Messiri', "Helvetica Neue", Helvetica, Arial, sans-serif  !important;
}

body.rtl, body.rtl h1, body.rtl h2, body.rtl h3, body.rtl h4, body.rtl h5, body.rtl h6, body.rtl #masthead .menu,body.rtl #masthead.menu,body.rtl #navbar-slide.menu,body.rtl body input,body.rtl body textarea,body.rtl body.btn,body.rtl body button {
    font-family: 'El Messiri', "Helvetica Neue", Helvetica, Arial, sans-serif  !important;
}

.text-light.btn-primary.green-btn, .text-light .btn-primary.green-btn {
    color: rgba(99, 185, 77,1) !important;
}

.dhvc-form-flat .dhvc-form-checkbox label, .dhvc-form-flat .dhvc-form-radio label {
    float: none !important;
}

.no-padding {
    padding: 0 !important;
}

p em {
    font-size: 12px;
    line-height: 12px;
}

.rounded-border {
    border-radius: 10px;
}

.light-grey-bg {
    background-color: #acb7bd;
}

.dark-grey-bg {
    background-color: #52535b;
}

.green-color {
    color: #63b94d;
}

.p-10-20 {
    padding: 10px 20px;
}

.p-10-20 p {
    margin-bottom: 0;
}

.text-number {
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: #63b94d;
}

.btn.btn-lg.btn-xlg {
    font-size: 30px;
}

.navbar-brand img {
    width: 210px;
}

ul.reset-inside {
    padding: 0 ;
    list-style-position: inside;
}

.max-width-150 img {
    max-width: 150px;
}

.margin-center img {
    margin: 0 auto;
}

.texture-bg {
    background-image: url('http://embrace.digitalpandas.io/wp-content/uploads/2017/11/rectangle-1.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

textarea {
    resize: none;
}

.lowercase {
    text-transform: none !important;
}

.embrace-table table.vc-table-plugin-theme-classic_green, .embrace-table table.vc-table-plugin-theme-classic_green td {
    border: 1px solid #63b94d;
}

.embrace-table table.vc-table-plugin-theme-classic_green tr.vc-th td {
    background-color: #63b94d;
}

.embrace-table table.vc-table-plugin-theme-classic_green tr:nth-child(2n+1):hover {
    background-color: #f2fdcd;
}

.embrace-table table.vc-table-plugin-theme-classic_green tr:hover {
    background-color: #ffffff;
}

#masthead .sidebar-widget>* p , .top-bar .sidebar-widget>* p {
    margin-bottom: 0;
}

.language-switcher {
    margin-top: 35px;
}

.language-switcher ul.languages {
    padding: 0;
    margin: 0;
}

.language-switcher ul.languages li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.language-switcher ul.languages li:last-child {
    margin-right: 0;
}

.language-switcher ul.languages li:hover a {
    color: #63b94d !important;
}

.navbar-stuck .language-switcher {
    margin-top: 31px;
}

.embrace-table {
    text-align: initial;
}

footer {
    text-align: left;
}

.btn {
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}
.progress-bar-primary span {
    font-weight: 900;
}
#goals .btn {
    margin-left: 10px;
    margin-right: 10px;
}
.text-light.btn-primary, .text-light .btn-primary {
    color: rgba(254,200,64,1) !important;
}

.circular-content {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    background: rgb(82, 83, 91);
    margin: 0 auto;
    text-align: center;
}

.circular-content p {
    padding: 15%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    margin-bottom: 0;
}

@media (max-width: 1199px) {
    .circular-content {
        width: 230px;
        height: 230px;
    }
}

.dhvc-form-group .dhvc-form-checkbox, .dhvc-form-group .dhvc-form-radio {

}

.rtl .dhvc-form-flat .dhvc-form-checkbox label, .rtl .dhvc-form-flat .dhvc-form-radio label {
    margin-left: 30px;
    margin-right: 0;
    padding-right: 22px;
    padding-left: 0;
}

.rtl .dhvc-form-flat .dhvc-form-checkbox i, .rtl  .dhvc-form-flat .dhvc-form-radio i {
    left: auto;
    right: 0;
}

.rtl form.wpcf7-form {
    direction: rtl;
}

.rtl form.wpcf7-form .form-icon-group i {
    left: auto;
    right: 10px;
}